@import "Styles", "Animation";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 1rem;
  transform-style: preserve-3d;
  transition: scale 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  justify-content: space-between;

  p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .name {
    display: block;
    font-weight: bold;
    font-size: 1rem;
  }
  .a {
    font-weight: bold;
    text-align: left;
  }
  .b {
    text-align: center;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate3d(-50%, -50%, 0em) rotate(45deg);
    z-index: 2;
  }
  &:hover {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0);
    scale: 1.02;
  }
  &:hover::before {
    transition: height 0s ease, width 0.5s ease;
    height: 200%;
    width: 200%;
    background-color: rgba(134, 140, 212, 0.349);
  }
}
