@import "Styles", "Animation";

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 1rem;
  transform-style: preserve-3d;
  transition: scale 0.2s ease, box-shadow 0.2s ease;
  .left {
    border: 2px solid blue;
  }
  .right {
    display: grid;
    grid-template-rows: auto;

    p {
      margin: 0.5rem;
    }
  }
  &::before {
    content: "";
    background-image: url("/public/card.jpg");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    transition: height 0s ease, width 0.5s ease;
    transform: translate3d(-50%, -50%, -1em);
    z-index: 2;
  }
  &:hover {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0);
    scale: 1.02;
  }
  &:hover::before {
    height: 100%;
    width: 100%;
  }
}
