.container {
  min-height: calc(69.375vh - 1.5em);
  text-align: center;
  position: relative;
  display: grid;
  grid-template: 1fr/ 88% 10%;
  gap: 2%;
  .left {
    width: 100%;
    perspective: 1920px;
    perspective-origin: 50% 0%;
    position: relative;
  }
  .right {
    display: grid;
    grid-template-rows: auto;
    max-width: 100%;
    overflow: hidden;
    input {
      display: none;
    }
    .tab {
      display: inline-block;
      right: 0;
      line-height: 70px;
      font-weight: 300;
      z-index: 20;
      border-radius: 2rem;
      border: 1px solid black;
      @media (max-width: 768px) {
        border-radius: 1.5rem;
      }
      &:nth-child(1) {
        background: #f1f6ff;
      }
      &:nth-child(2) {
        background: #ebf5fd;
      }
      &:nth-child(3) {
        background: #b0c7f8;
      }
      &:nth-child(4) {
        background: #6aa2c7;
      }
    }
  }

  .cube {
    position: absolute;
    width: 85.6%;
    min-height: 85.6%;
    height: auto;
    left: 6.9%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
    border: 1px solid transparent;
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow-x: auto;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
        height: 50px;
      }
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #92b8ff, #b9e9ff);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #29b6f6, #039be5);
      }
      h1 {
        font-weight: 300;
      }
      p {
        font-size: 1rem;
      }
      &:nth-child(1) {
        transform: rotateX(-270deg) translateY(-50%);
        transform-origin: top left;
        background-color: #f1f6ff;
      }
      &:nth-child(2) {
        background-color: #ebf5fd;
      }
      &:nth-child(3) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
        background-color: #b0c7f8;
      }
      &:nth-child(4) {
        transform-origin: bottom center;
        background-color: #6aa2c7;
      }
    }
  }
}

.rotateTop {
  transform: rotateX(-90deg);
}

.rotateFront {
  transform: rotateX(0deg);
}

.rotateBottom {
  transform: rotateX(90deg);
}
.rotateLast {
  transform: rotateX(180deg);
}
