.container {
  perspective: 1980px;
  perspective-origin: 50% 0px;
  width: 80%;
  height: 75%;
  margin: 2rem 14% 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;

  input {
    display: none;
  }
  .tab {
    position: absolute;
    width: 10%;
    height: 29%;
    background: pink;
    right: 0;
    line-height: 70px;
    font-weight: 300;
    z-index: 20;
    border-radius: 5rem;
    border: 1px solid black;
    &:nth-child(1) {
      top: 0;
      background: #06d6a0;
    }
    &:nth-child(2) {
      top: 30%;
      background: #1b9aaa;
    }
    &:nth-child(3) {
      top: 60%;
      background: #ef476f;
    }
    &:nth-child(4) {
      top: 90%;
      background: #7e5b63;
    }
  }

  .cube {
    position: absolute;
    margin: auto;
    width: 90%;
    height: 100%;
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
    z-index: 10;
    .content {
      width: 90%;
      height: 100%;
      position: absolute;

      border-radius: 3rem;

      h1 {
        font-size: 2rem;
        margin: 75px 0 10px;
        font-weight: 300;
      }
      p {
        font-size: 12px;
      }
      &:nth-child(2) {
        transform: translateZ(318px);
        background-color: #fff;
      }
      &:nth-child(1) {
        transform: rotateX(-270deg) translateY(-50%);
        transform-origin: top left;
        background-color: #ebf5fd;
      }
      &:nth-child(3) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
        background-color: #b0c7f8;
      }
      &:nth-child(4) {
        transform: rotateX(180deg) translateY(100%) translateZ(318px);
        transform-origin: bottom center;
        background-color: #6aa2c7;
      }
    }
  }
}

#tabtop:checked ~ .cube {
  transform: rotateX(-90deg);
}

#tabfront:checked ~ .cube {
  transform: rotateX(0deg);
}

#tabbottom:checked ~ .cube {
  transform: rotateX(90deg);
}
#tablast:checked ~ .cube {
  transform: rotateX(180deg);
}
