@import "Animation", "Styles";

#section1,
#section2,
#section3,
#section4 {
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0 20%;
}
#section1 {
  height: 100vh;
  background-color: transparent;

  .contentWrapper {
    height: calc(100vh * 0.925);
    padding-top: calc(100vh * 0.075);
    .content {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        height: 100%;
        gap: 2rem;
      }
      @media (max-width: 768px) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        padding: 0 5%;
      }
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        border-radius: 2rem;
        background-color: $ContainerBGC;
        border: rebeccapurple solid 1px;
        box-sizing: border-box;
        box-shadow: 0 0 0.5rem black;
        animation: HalfUp ease-in-out 0.3s;
        @media (min-width: 768px) {
          height: 80%;
          margin: auto;
        }
        @media (max-width: 768px) {
          margin: auto;
        }

        .typing {
          color: blue;
          position: relative;
          font-size: 2rem;
          font-weight: bold;
          margin: 0 auto 0 0;
          span {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 0.4rem;
              right: -5px;
              height: 2rem;
              width: 4px;
              background-color: blue;
              animation: blink 1s infinite alternate;
            }
          }
        }
      }
      .photoWrapper {
        width: 100%;
        height: 80%;
        position: relative;
        background-color: $ContainerBGC;
        border-radius: 2rem;
        border: rebeccapurple solid 1px;
        overflow: hidden;
        transition: transform 0.1s ease-out;
        animation: HalfUp ease-in-out 0.5s;
        box-shadow: 0 0 0.5rem black;
        @media (min-width: 768px) {
          margin: auto;
        }
        @media (max-width: 768px) {
          width: 50%;
          margin: 5% 25%;
        }
        .icon {
          width: 50px;
          height: 50px;
          background-image: url(/public/profile.png);
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        .photo {
          width: 100%;
          height: 100%;
          border-radius: 5rem;
          background-size: cover;
          background-position: center;
          background-image: url("/public/stand-removebg-preview.png");
          transform: scale(0); /* Fix: use transform instead of scale */
          transition: transform 0.2s ease-in-out;
        }
        &:hover {
          border: none;
          background-color: transparent;
          .photo {
            transform: scale(1); /* :hover 상태에서 크기를 1로 돌리기 */
          }
          .icon {
            display: none;
          }
        }
      }
    }
  }
}
#section2 {
  height: auto;
  .contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: calc(100vh * 0.075);
    @media (max-width: 768px) {
      padding: calc(100vh * 0.075) 5%;
    }
    .skillWrapper {
      animation: HalfUp 0.7s ease-in-out;

      .title {
        position: relative;
      }
      .tabs {
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: 768px) {
          position: relative;
        }
      }
    }
    .certificationsWrapper {
      animation: HalfUp 0.7s ease-in-out;

      width: 100%;

      .certifications {
        border: $section2Border;
        border-radius: $section2BR;
        background-color: $ContainerBGC;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        padding: 2.5rem;
        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
          padding: 1rem;
        }
      }
    }
    .eduNawardWrapper {
      animation: HalfUp 0.7s ease-in-out;
      width: 100%;

      .list2023 {
        border-left: $section2Border;
        border-radius: $section2BR;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 10% 10% 80%;
        background-color: $ContainerBGC;
      }
      .list2024 {
        border: $section2Border;
        border-radius: $section2BR;
      }
    }
  }
}
#section3 {
  position: relative;
  .contentWrapper {
    height: calc(100vh * 0.925);
    padding-top: calc(100vh * 0.075);
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
}
#section4 {
  position: relative;
  .contentWrapper {
    height: calc(100vh * 0.925);
    padding-top: calc(100vh * 0.075);
  }
}
.none {
  opacity: 0;
}
@media (max-width: 768px) {
  #section1,
  #section2,
  #section3,
  #section4 {
    width: 100%;
    margin: 0;
  }
  #section1 {
    height: calc(100vh * 0.925);
    .content {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr !important;
      gap: 0 !important;
      .photoWrapper {
        height: 90% !important;
        border-radius: 1rem !important;
      }
      .profile {
        height: 90% !important;
        border-radius: 1rem !important;
      }
    }
  }
}
