@import "Animation";

#section1,
#section2,
#section3,
#section4 {
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0 20rem;
}
#section1 {
  width: auto;
  height: 100vh;
  background-color: transparent;
  width: calc(100vw - 40rem);

  .contentWrapper {
    height: calc(100vh * 0.925);
    padding-top: calc(100vh * 0.075);

    .content {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
      height: 100%;
      gap: 2rem;

      .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        border-radius: 5rem;
        background-color: transparent;
        border: rebeccapurple solid 1px;
        box-shadow: 0 0 0.5rem black;
        animation: HalfUp ease-in-out 0.3s;
        height: 80%;
        margin: auto;
      }
      .photoWrapper {
        width: 100%;
        height: 80%;
        position: relative;
        background-color: rgba(207, 205, 205, 0.171);
        border-radius: 5rem;
        border: rebeccapurple solid 1px;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.1s ease-out;
        animation: HalfUp ease-in-out 0.5s;
        box-shadow: 0 0 0.5rem black;
        margin: auto 0;
        .icon {
          width: 50px;
          height: 50px;
          background-image: url(/public/profile.png);
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        .photo {
          width: 100%;
          height: 100%;
          border-radius: 5rem;
          background-size: cover;
          background-position: center;
          background-image: url("/public/stand-removebg-preview.png");
          transform: scale(0); /* Fix: use transform instead of scale */
          transition: transform 0.2s ease-in-out;
        }
        &:hover {
          border: none;
          background-color: transparent;
          .photo {
            transform: scale(1); /* :hover 상태에서 크기를 1로 돌리기 */
          }
          .icon {
            display: none;
          }
        }
      }
    }
  }
}
#section2 {
  height: auto;
  .contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: calc(100vh * 0.075);
    .skillWrapper {
      height: auto;
      width: 100%;

      .skills {
        border: 1px solid black;
        border-radius: 5rem;
        box-sizing: content-box;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        gap: 2rem;
      }
    }
  }
}
#section3 {
  position: relative;
  .contentWrapper {
    height: calc(100vh * 0.925);

    padding-top: calc(100vh * 0.075);
  }
}
#section4 {
  position: relative;
  .contentWrapper {
    height: calc(100vh * 0.925);
    padding-top: calc(100vh * 0.075);
  }
}
.none {
  display: none;
}
@media (max-width: 768px) {
  #section1,
  #section2,
  #section3,
  #section4 {
    width: 100%;
    margin: 0;
  }
  #section1 {
    height: calc(100vh * 0.925);
    margin-top: calc(100vh * 0.075);
  }
}
