$BGC: rgb(220, 227, 241);
$ContainerBGC: #edf4ff5e;
$section2Border: 2px solid black;
$section2BR: 1rem;

// 버튼 컴포넌트 색상
// 기본
$bgc: #cfdef5;
$bbgc: #374b8f;
$hbgc: #89b4d8;
$abgc: #294a92;
$bd: #4659ad;
$sdw: #0000001c;
// 취소 버튼
$rbgc: #f5cfcf;
$rbbgc: #8f3737;
$rhbgc: #d88989;
$rabgc: #922929;
$rbd: #ad4646;
$rsdw: #0000001c;

$inputColor: #cfdef5; //GuestBook 입력창
$modalBGC: #f8a60e;
