$BGC: rgb(220, 227, 241);
$ContainerBGC: #edf4ff5e;
$section2Border: 2px solid black;
$section2BR: 1rem;

$bgc: #cfdef5;
$bbgc: #374b8f;
$hbgc: #89b4d8;
$abgc: #294a92;
$bd: #4659ad;
$sdw: #0000001c;
