@charset "UTF-8";
@keyframes Upstream {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes HalfUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes DownStream {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes LeftStream {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes RightStream {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes Upstream70 {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paintBorder {
  0% {
    width: 0;
    border-top-color: red;
    border-right-color: red;
  }
  70% {
    width: 100%;
  }
  100% {
    height: 100%;
    border-top-color: red;
    border-right-color: red;
  }
}
@keyframes rotateBar {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}
.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.container .top .title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container .top .title h1 {
  margin: auto;
  font-weight: bold;
}
.container .top .title h1 span {
  font-size: 1.5rem;
}
.container .top .title h3 {
  margin-bottom: auto;
  text-align: end;
  font-weight: lighter;
}
.container .top .introduce {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  text-align: left;
  position: relative;
  height: 78%;
}
.container .top .introduce p {
  margin: 0;
}
.container .top .introduce .thumbnail {
  position: relative;
  background-image: url(/src/assets/thumbnail1.png);
  background-size: cover;
  background-position: center;
  border: none;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.container .top .introduce .thumbnail::before {
  content: "";
  width: 100%;
  height: 100%;
}
.container .top .introduce .thumbnail:hover::before {
  content: "소개영상 보러가기";
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(185, 148, 148, 0.5);
}
.container .top .introduce .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .top .introduce .description .gallery {
  width: 50px;
  height: 50px;
}
.container .pjtContent {
  border-top: 1px solid black;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/*# sourceMappingURL=Projects.module.css.map */
