@charset "UTF-8";
@keyframes Upstream {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes HalfUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes DownStream {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes LeftStream {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes RightStream {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes Upstream70 {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paintBorder {
  0% {
    width: 0;
    border-top-color: red;
    border-right-color: red;
  }
  70% {
    width: 100%;
  }
  100% {
    height: 100%;
    border-top-color: red;
    border-right-color: red;
  }
}
@keyframes rotateBar {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}
.container {
  border-radius: 1rem;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0.7fr auto;
  position: relative;
}
.container .top .title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container .top .title h2 {
  margin: auto;
  font-weight: bold;
}
.container .top .title h2 span {
  font-size: 1rem;
}
.container .top .title h3 {
  margin-bottom: auto;
  text-align: end;
  font-weight: 600;
}
.container .top .introduce {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin-bottom: 5px;
  text-align: left;
  position: relative;
}
@media (max-width: 768px) {
  .container .top .introduce {
    grid-template-columns: none;
  }
}
.container .top .introduce p {
  margin: 0;
}
.container .top .introduce .thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
  border: none;
  width: 100%;
  padding: 0;
  cursor: pointer;
}
.container .top .introduce .thumbnail::before {
  content: "";
  width: 100%;
  height: 100%;
  border: none;
}
.container .top .introduce .thumbnail:hover::before {
  content: "소개영상 보러가기";
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(241, 124, 124, 0.9);
}
.container .top .introduce .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.container .top .introduce .description .middle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container .top .introduce .description .middle p {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2196078431);
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  justify-content: center;
  text-align: center;
}
.container .top .introduce .description .middle p a {
  text-decoration: none;
}
.container .top .introduce .description .middle .notion p {
  margin: auto;
}
.container .top .introduce .description .descontent {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2196078431);
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.container .top .introduce .description .gallery {
  width: 50px;
  height: 50px;
}
.container .pjtContent {
  border-top: 1px solid rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: left;
}
@media (max-width: 768px) {
  .container .pjtContent {
    grid-template: auto/1fr;
  }
}
.container .pjtContent p {
  font-weight: 550;
}
.container .pjtContent ul {
  background-color: rgba(255, 255, 255, 0.2196078431);
  border-radius: 1rem;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container .pjtContent li {
  margin-bottom: 0.4rem;
}

/*# sourceMappingURL=Projects.module.css.map */
