@charset "UTF-8";
@keyframes Upstream {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes HalfUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes DownStream {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes LeftStream {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes RightStream {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes Upstream70 {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paintBorder {
  0% {
    width: 0;
    border-top-color: red;
    border-right-color: red;
  }
  70% {
    width: 100%;
  }
  100% {
    height: 100%;
    border-top-color: red;
    border-right-color: red;
  }
}
@keyframes rotateBar {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}
#section1,
#section2,
#section3,
#section4 {
  position: relative;
  z-index: 2;
  margin: 0 20%;
}
@media (max-width: 768px) {
  #section1,
  #section2,
  #section3,
  #section4 {
    width: 100%;
    margin: 0;
  }
}

#section1 {
  height: auto;
  background-color: transparent;
}
#section1 .contentWrapper {
  position: relative;
  padding-top: 7.5vh;
  min-height: 92.5vh;
}
@media (max-width: 768px) {
  #section1 .contentWrapper {
    min-height: 100vh;
    padding: 10vh 5% 0 5%;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  #section1 .contentWrapper .content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    width: 100%;
    min-height: 92.5vh;
    height: 100%;
    padding: 10% 0;
  }
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content {
    min-height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    width: 100%;
    height: 100%;
  }
}
#section1 .contentWrapper .content .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 2rem;
  background-color: rgba(237, 244, 255, 0.368627451);
  border: rebeccapurple solid 1px;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem black;
  animation: HalfUp ease-in-out 0.3s;
  text-align: start;
}
@media (min-width: 768px) {
  #section1 .contentWrapper .content .profile {
    min-height: 100%;
    margin: auto;
    padding: 3rem;
  }
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content .profile {
    margin: auto;
    padding: 5%;
  }
}
#section1 .contentWrapper .content .profile .script {
  text-align: start;
}
#section1 .contentWrapper .content .profile .typing {
  color: blue;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}
#section1 .contentWrapper .content .profile .typing span {
  position: relative;
}
#section1 .contentWrapper .content .profile .typing span:before {
  content: "";
  position: absolute;
  top: 0.4rem;
  right: -5px;
  height: 2rem;
  width: 4px;
  background-color: rgb(43, 43, 43);
  animation: blink 1s infinite alternate;
}
#section1 .contentWrapper .content .profile .infoWrapper {
  margin: auto 0;
}
#section1 .contentWrapper .content .profile .infoWrapper .info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: start;
}
#section1 .contentWrapper .content .profile .infoWrapper .info span {
  font-weight: 500;
  margin-bottom: 1rem;
}
#section1 .contentWrapper .content .photoWrapper {
  width: 100%;
  position: relative;
  background-color: rgba(237, 244, 255, 0.368627451);
  border-radius: 2rem;
  border: rebeccapurple solid 1px;
  transition: transform 0.1s ease-out;
  animation: HalfUp ease-in-out 0.5s;
  box-shadow: 0 0 0.5rem black;
  cursor: none;
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content .photoWrapper {
    width: 50%;
    margin: 0 auto;
  }
}
#section1 .contentWrapper .content .photoWrapper .icon {
  width: 50px;
  height: 50px;
  background-image: url(/public/profile.png);
  background-size: cover;
  position: absolute;
  border-radius: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#section1 .contentWrapper .content .photoWrapper .icon::before {
  content: "Hover!";
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  padding: 2px;
  border: 2px solid black;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
}
#section1 .contentWrapper .content .photoWrapper .photo {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
  background-image: url("/public/stand-removebg-preview.png");
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
#section1 .contentWrapper .content .photoWrapper:hover {
  border: none;
  background-color: transparent;
}
#section1 .contentWrapper .content .photoWrapper:hover .photo {
  transform: scale(1); /* :hover 상태에서 크기를 1로 돌리기 */
}
#section1 .contentWrapper .content .photoWrapper:hover .icon {
  display: none;
}

#section2 {
  height: auto;
}
#section2 .contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 7.5vh;
}
@media (max-width: 768px) {
  #section2 .contentWrapper {
    padding: 7.5vh 5% 0 5%;
  }
}
#section2 .contentWrapper .skillWrapper {
  animation: HalfUp 0.7s ease-in-out;
}
#section2 .contentWrapper .skillWrapper .title {
  position: relative;
}
#section2 .contentWrapper .skillWrapper .tabs {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  #section2 .contentWrapper .skillWrapper .tabs {
    position: relative;
  }
}
#section2 .contentWrapper .certificationsWrapper {
  animation: HalfUp 0.7s ease-in-out;
  width: 100%;
}
#section2 .contentWrapper .certificationsWrapper .certifications {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgba(237, 244, 255, 0.368627451);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  padding: 2.5rem;
}
@media (max-width: 768px) {
  #section2 .contentWrapper .certificationsWrapper .certifications {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    padding: 1rem;
  }
}
#section2 .contentWrapper .eduNawardWrapper {
  animation: HalfUp 0.7s ease-in-out;
  width: 100%;
}

#section3 {
  position: relative;
  height: auto;
}
#section3 .contentWrapper {
  min-height: 92.5vh;
  padding-top: 7.5vh;
}
@media (max-width: 768px) {
  #section3 .contentWrapper {
    padding: 7.5vh 5% 0 5%;
  }
}

#section4 {
  position: relative;
}
#section4 .contentWrapper {
  position: relative;
  min-height: 92.5vh;
  padding-top: 7.5vh;
}
@media (max-width: 768px) {
  #section4 .contentWrapper {
    padding: 7.5vh 5% 0 5%;
  }
}
#section4 .contentWrapper .content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 80%;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgba(237, 244, 255, 0.368627451);
}
#section4 .contentWrapper .content .contactWrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: auto;
}
#section4 .contentWrapper .content .contactWrapper .contact {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
#section4 .contentWrapper .content .contactWrapper .contact p {
  margin: 0;
}
#section4 .contentWrapper .content .contactWrapper .guestbook {
  position: relative;
  padding: 0 20%;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1px;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform .info input {
  width: calc(100% - 8px);
  background-color: #cfdef5;
  border: 1px solid #4659ad;
  border-radius: 5px;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform .areaWrapper {
  position: relative;
  width: 100%;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform .areaWrapper textarea {
  background-color: #cfdef5;
  border: 1px solid #4659ad;
  width: calc(100% - 6px);
  resize: none;
  border-radius: 5px;
}
#section4 .contentWrapper .content .contactWrapper .guestbook .guestform .areaWrapper .byte {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgb(220, 227, 241);
}
#section4 .contentWrapper .content .list {
  border-top: 1px solid black;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#section4 .contentWrapper .content .list .comment {
  background-color: #cfdef5;
  box-sizing: content-box;
  border-radius: 1rem;
  padding: 0 0.2rem 0 1rem;
  border: 1px solid #4659ad;
}
#section4 .contentWrapper .content .list .comment .commentTop {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
#section4 .contentWrapper .content .list .comment .commentTop p {
  margin: 0;
}
#section4 .contentWrapper .content .list .comment .commentTop .right {
  display: flex;
  gap: 1rem;
}
#section4 .contentWrapper .content .list .comment .commentTop .right button {
  border-radius: 10px;
}
#section4 .contentWrapper .content .list .comment .commentBottom {
  text-align: left;
  word-wrap: break-word;
  overflow-x: hidden;
  margin: auto;
  font-size: 0.9rem;
}

.none {
  opacity: 0;
}

/*# sourceMappingURL=Section.module.css.map */
