@charset "UTF-8";
@keyframes Upstream {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes HalfUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes DownStream {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes LeftStream {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes RightStream {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes Upstream70 {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paintBorder {
  0% {
    width: 0;
    border-top-color: red;
    border-right-color: red;
  }
  70% {
    width: 100%;
  }
  100% {
    height: 100%;
    border-top-color: red;
    border-right-color: red;
  }
}
#section1,
#section2,
#section3,
#section4 {
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0 20%;
}

#section1 {
  height: 100vh;
  background-color: transparent;
}
#section1 .contentWrapper {
  height: 92.5vh;
  padding-top: 7.5vh;
}
@media (min-width: 768px) {
  #section1 .contentWrapper .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
}
#section1 .contentWrapper .content .profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  border-radius: 2rem;
  background-color: transparent;
  border: rebeccapurple solid 1px;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem black;
  animation: HalfUp ease-in-out 0.3s;
}
@media (min-width: 768px) {
  #section1 .contentWrapper .content .profile {
    width: 100%;
    height: 80%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content .profile {
    width: 90%;
    margin: auto;
  }
}
#section1 .contentWrapper .content .profile .typing {
  color: blue;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto 0 0;
}
#section1 .contentWrapper .content .profile .typing span {
  position: relative;
}
#section1 .contentWrapper .content .profile .typing span:before {
  content: "";
  position: absolute;
  top: 0.4rem;
  right: -5px;
  height: 2rem;
  width: 4px;
  background-color: blue;
  animation: blink 1s infinite alternate;
}
#section1 .contentWrapper .content .photoWrapper {
  width: 100%;
  height: 80%;
  position: relative;
  background-color: rgba(207, 205, 205, 0.171);
  border-radius: 2rem;
  border: rebeccapurple solid 1px;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  animation: HalfUp ease-in-out 0.5s;
  box-shadow: 0 0 0.5rem black;
}
@media (min-width: 768px) {
  #section1 .contentWrapper .content .photoWrapper {
    margin: auto;
  }
}
@media (max-width: 768px) {
  #section1 .contentWrapper .content .photoWrapper {
    width: 50%;
    margin: 5% 25%;
  }
}
#section1 .contentWrapper .content .photoWrapper .icon {
  width: 50px;
  height: 50px;
  background-image: url(/public/profile.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#section1 .contentWrapper .content .photoWrapper .photo {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
  background-image: url("/public/stand-removebg-preview.png");
  transform: scale(0); /* Fix: use transform instead of scale */
  transition: transform 0.2s ease-in-out;
}
#section1 .contentWrapper .content .photoWrapper:hover {
  border: none;
  background-color: transparent;
}
#section1 .contentWrapper .content .photoWrapper:hover .photo {
  transform: scale(1); /* :hover 상태에서 크기를 1로 돌리기 */
}
#section1 .contentWrapper .content .photoWrapper:hover .icon {
  display: none;
}

#section2 {
  height: auto;
}
#section2 .contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 7.5vh;
}
#section2 .contentWrapper .skillWrapper {
  animation: HalfUp 0.7s ease-in-out;
}
@media (min-width: 768px) {
  #section2 .contentWrapper .skillWrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #section2 .contentWrapper .skillWrapper {
    width: 90%;
    margin: auto;
  }
}
#section2 .contentWrapper .skillWrapper .skills {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgba(237, 244, 255, 0.368627451);
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  #section2 .contentWrapper .skillWrapper .skills {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    padding: 2.5rem;
  }
}
@media (max-width: 768px) {
  #section2 .contentWrapper .skillWrapper .skills {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    padding: 1rem;
  }
}
#section2 .contentWrapper .certificationsWrapper {
  width: 100%;
}
#section2 .contentWrapper .certificationsWrapper .certifications {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgba(237, 244, 255, 0.368627451);
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  #section2 .contentWrapper .certificationsWrapper .certifications {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    padding: 2.5rem;
  }
}
@media (max-width: 768px) {
  #section2 .contentWrapper .certificationsWrapper .certifications {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    padding: 1rem;
  }
}
#section2 .contentWrapper .eduNawardWrapper {
  width: 100%;
}
#section2 .contentWrapper .eduNawardWrapper .list2023 {
  border-left: 2px solid black;
  border-radius: 1rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 10% 10% 80%;
  background-color: rgba(237, 244, 255, 0.368627451);
}
#section2 .contentWrapper .eduNawardWrapper .list2024 {
  border: 2px solid black;
  border-radius: 1rem;
}

#section3 {
  position: relative;
}
#section3 .contentWrapper {
  height: 92.5vh;
  padding-top: 7.5vh;
}

#section4 {
  position: relative;
}
#section4 .contentWrapper {
  height: 92.5vh;
  padding-top: 7.5vh;
}

.none {
  opacity: 0;
}

@media (max-width: 768px) {
  #section1,
  #section2,
  #section3,
  #section4 {
    width: 100%;
    margin: 0;
  }
  #section1 {
    height: 92.5vh;
  }
  #section1 .content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr !important;
    gap: 0 !important;
  }
  #section1 .content .photoWrapper {
    height: 90% !important;
    border-radius: 1rem !important;
  }
  #section1 .content .profile {
    height: 90% !important;
    border-radius: 1rem !important;
  }
}

/*# sourceMappingURL=Section.module.css.map */
